<!-- JOSHUA TIMBOL 301068352
     COMP229 SEC005
     ASSIGNMENT 2
     OCTOBER 22, 2020 -->

<!-- Bottom Nav -->

<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a class="display-6 navbar-text">&copy; Copyright 2020. All Rights Reserved. Joshua Timbol (301068352)</a>
  </nav>
</footer>