<!-- JOSHUA TIMBOL 301068352
     COMP229 SEC005
     ASSIGNMENT 2
     OCTOBER 22, 2020 -->

 <!-- Java Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
