<%- include Partials/header.ejs %>


<%- include Partials/main_nav.ejs %>



<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Joshua Timbol's webpage</h1>
  </div>
  <h2>Please navigate the site with the navbar at the top right.</h2>
</main>


<%- include Partials/bottom_nav.ejs %>


 <%- include Partials/footer.ejs %>









